* {
    margin: 0;
    padding: 0;
}
.a-reset {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: var(--bg);
    z-index: -5;
}
.overflow-hidden {
    overflow: hidden;
    margin-right: 20px;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
}


.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    
}
.header__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--weiß);
}

.header__menu {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.header__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--weiß);
}
.header__user {
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}
.header__user-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    color: var(--weiß);
}
.header {
    position: relative;
    
}

.header__content {
    display: flex;
    justify-content: center;
    position: relative;
}


.header__socials {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
}
.header__social-list {
    gap: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__social-item-transformed {
    writing-mode: vertical-lr;
    
}
.header__social-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--weiß);
}

.header__info {
    max-width: 950px;

}

.subtitle {
    padding-left: 104px;
    padding-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: var(--accent);
    position: relative;
}
.subtitle::before {
    content: '';
    position: absolute;
    width: 72px;
    height: 2px;
    background-color: var(--accent);
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% - 16px));
}

.header__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 88px;
    line-height: 114%;
    text-transform: capitalize;
    color: var(--weiß);
    padding-bottom: 58px;
}

.header__anchor {

}
.header__anchor-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--weiß);
    position: relative;
}


.header__anchor-link::after {
    content: '';
    position: absolute;
    background: url(../images/arrow.svg);
    width: 16px;
    height: 24px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);

}

.main {

    margin-top: 800px;

}

.product__card {
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.without-bg {
    background: none;
}

.product__info {
    max-width: 630px;
    padding-left: 150px;
    padding-right: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    position: relative;
}
.product__info::before {
    content: '01';
    position: absolute;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 240px;
    line-height: 100%;
    color: var(--weiß);
    opacity: 0.1;
    width: 240px;
    height: 240px;
    left: 0%;
    top: -25%;
    z-index: 4;
}
.product__subtitle {
    padding-bottom: 0;
}
.product__subtitle::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.product__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 64px;
    color: var(--weiß);
    max-width: 555px;
}

.product__desk {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: var(--weiß);
}

.product__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--accent);
    position: relative;
}

.product__link::after {
    content: '';
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(../images/arrow-right.png);
}
.bg1 {
    position: absolute;
    width: 100%;
    height: 1000px;
    background: url(../images/clouds.avif) center 0px no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg2 {
    position: absolute;
    width: 100%;
    margin-top: 590px;
    height: 930px;
    background: url(../images/rocks.avif) center no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg3 {
    position: absolute;
    width: 100%;
    margin-top: 790px;
    height: 1160px;
    background: url(../images/man.avif) center no-repeat;
    z-index: -1;
    background-size: cover;
}

.product {
    margin-bottom: 200px;
    

}

.flex-inverse {
    flex-direction: row-reverse;
}
.product__info2 {
    padding-left: 160px;
    padding-right: 0;
}
.product__info2::before {
    content: '02';
    left: 10px;
}
.product__info3::before {
    content: '03';
}

.footer {
    padding-bottom: 120px;
}

.footer__box {
    min-height: 280px;
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__inner-one {
    position: relative;
    width: 350px;
    
}

.footer__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--weiß);
    padding-bottom: 24px;
    display: block;
}

.footer__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--accent);
    padding-bottom: 24px;
}

.footer__desk {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: var(--weiß);
    width: 300px;
}

.footer__link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    color: var(--weiß);
}

.footer__copyright {
    position: absolute;
    bottom: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    color: var(--weiß);
    opacity: 0.5;
    z-index: 6;
    
    
}

.footer__inner-two {
    display: flex;
    width: 566px;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.slider__box {
    
}

.slider {
    width: 1760px;
    top:50%;
    position: fixed; 
    height: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.slider__list {
    width: 42px;
    height: 240px;
    position: absolute;
    right: 0;
    top: 0%;
    margin-right: 32px;
    transform: translateY(-50%);
    z-index: 6;
    
}
.slider__item {
    text-align: end;
    width: 42px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 32px;
    border-right: 3px solid rgba(255, 255, 255, 0.459);
}
.active-border {
    border-right: 3px solid rgb(255, 255, 255);
}

.slider__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: var(--weiß);
}

.card-anchor {
    position: absolute;
    top: calc((100% - 100vh) / 2);
}

.header__button {
    width: 24px;
    height: 27px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.header__line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .2s ease;
}
.header__line-transform:nth-child(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.header__line-transform:nth-child(2) {
    position: absolute;
    transform: rotate(-45deg);
}
.header__line-transform:nth-child(3) {
    display: none;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header__menu-burger {
    position: fixed;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: none;
    justify-content: center;
    align-items: center;
}
.header__menu-burger_active {
    display: flex;
}
.header__menu-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: column;

}
.header__menu-acc::before {
    position: absolute;
    content: '';
    background: url(../images/acc.svg);
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 15px);


}
.header__menu-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--weiß);
    position: relative;
}

@media (max-width: 1760px ) {
    .container {
        padding: 0 15px;
    }
    .slider {
        width: 100%;
    }
    .slider__list {
        margin-right: 64px;
    }

}

@media (max-width: 1440px ) {
    .slider {
        display: none;
    }
    .header__socials {
        display: none;
    }
}


@media (max-width: 1240px ) {
    .product__card {
        flex-direction: column;
        gap: 50px;
        max-width: 100%;
    }
    .product {
        
        padding-left: 120px;
        padding-right: 120px;
    }
    .product__info {
        max-width: 100%;
        padding: 0;
    }
    .product__image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;

        
    }
    .product__info::before {
        left: -120px;
    }
    .product__desk, .product__link {
        font-size: 24px;
    }
}



@media (max-width: 768px) {
    .product {
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

@media (min-width: 1920px) {
    .bg1 {
        height: 1000px;
    }

    .bg2 {
        height: 1300px;
    }

    .bg3 {
        height: 1340px;
    }
}

@media (max-width: 860px) {
    .header__button {
        display: flex;
    }
    .header__menu, .header__user {
        display: none;
    }
    .header__top {
        padding-top: 20px;
    }
    .product__info::before {
        content: '';
    }
    .footer__box {
        flex-direction: column;
        gap: 30px;
        align-items: center;

    }
    .footer__inner-two {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        
    }
    .footer__inner-one {
        width: 100%;
    }
    .footer__copyright {
        display: none;
    }
    .header__title {
        font-size: 70px;
    }
}
